* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
body{
    background: #F3F5FC;
}
.flex-container{
    display: flex;
}
#vector{
    margin-top: 40px;
    margin-left: 84px;
    position: absolute;
    height: 48px;
    width: 31.09px;
}
#texto{
    background: #F3F5FC;
    color: darkblue;
    margin-top: 168px;
    margin-left: 240px;
    position: absolute;
    height: 40px;
    border: none;
    font-size: 32px;
    line-height: 48px;
}
.botones{
    position: absolute;
    margin-left: 240px;
    margin-top: 885px;
    margin-bottom: 72px;
}
.boton{
    font-size: 16px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;;
}
#Encriptar{
    background: darkblue;
    color: white;

}
#Desencriptar{
    
    color: darkblue;
}
#mensajes{
    position: absolute;
    justify-content: end;
    text-align: center;
    margin: 40px;
    margin-left: 1000px;
    border-radius: 32px;
    width: 400px;
    height: 944px;
    float: right;
    background: white;
}
#muñeco{
    width: 336px;
    height: 304px;
    margin-top: 283px;
    align-items: center;
}

